@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Work+Sans&display=swap');

body {
    margin-top: 50px;
    text-align: center;
    font-family: 'Afacad', sans-serif;
    font-family: 'Work Sans', sans-serif;
}